
/*

         Eric Meyers CSS reset (http://meyerweb.com/eric/tools/css/reset/)
         v1.0 | 20080212

         modified by Paul Rohrbeck (paro22.com)

*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, font, img, strong,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}


/*
         base
*/
body{
         background:#1f2830;
         font-family:'Trebuchet MS';
}

/*
         structure
*/
#box-401, #box-403, #box-404, #box-500, #box-503{
         margin:0 auto;
         margin-top:40px;
         width:920px;
         height:630px;
}
#box-401{background:url("../images/pr-401.jpg") no-repeat top left;}
#box-403{background:url("../images/pr-403.jpg") no-repeat top left;}
#box-404{background:url("../images/pr-404.jpg") no-repeat top left;}
#box-500{background:url("../images/pr-500.jpg") no-repeat top left;}
#box-503{background:url("../images/pr-503.jpg") no-repeat top left;}

#navigation{
         width:160px;
         margin:20px 0 0 20px;
         padding:50px 0 0 30px;
}

/*
         Content
*/

p{
         color:#777;
         line-height:17px;
         margin:5px 0 5px 0;
}
ol#to-do-list li{
         list-style-type:decimal;
         color:#777;
         font-size:13px;
         padding:3px;
}
ol#to-do-list li:hover{
         color:#6A3C00;
}
ul#links, ol#to-do-list{
         margin:0 0 0 34px;
}
ul#links li{
         list-style-type:circle;
         color:#999;
         font-size:13px;
         padding:3px;
}
ul#links li:hover{
         list-style-type:disc;
         color:#6A3C00;
}
ul#links li a{
         color:#777;
         text-decoration:none;
}
ul#links li a:hover{
         text-decoration:underline;
}
.headings{
         width:140px;
         height:30px;
         color:#6A3C00;
         font-size:18px;
         margin:20px 0 10px 0;
}
#search{
         margin:6px 0 0 260px;
         background:url("../images/search-bg.png") no-repeat top left;
         height:31px;
         width:345px;
         padding:7px 5px 5px 10px;
}

.search-input{
         border:0;
         margin:0;
         width:280px;
         padding:5px;
         color:#fff;
         background:none;
         font-size:14px;
}

.search-button{
         border:0;
         margin:0 0 0 16px;
         width:30px;
         height:26px;
         padding:5px;
         color:#fff;
         background:url("../images/search-arrow.png") no-repeat top left;
}
.search-button:hover{
         background:url("../images/search-arrow-hover.png") no-repeat top left;
}
.search-button:hover{
         cursor:pointer;
}

/* IE 6 Fix */
* html #search{
         margin:0 0 0 270px;
         background:none;
         border:1px solid #fff;
}
* html .search-button{
         background:url("../images/search-arrow-ie.gif") no-repeat top left;
}