<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>SilkCoast - Service Unavailable</title>

  <link href="{{ STATIC_URL }}css/pr-style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nicetitle.css">

  <script type="text/javascript" src="{{ STATIC_URL }}js/nicetitle.js"></script>

</head>

<body>

         <div id="box-503">

                  <div id="navigation">

                         <!-- 503 --> <p>We're sorry... our server is currently unavailable.</p>

                         <img src="{{ STATIC_URL }}images/todo.gif" alt="To DO" class="headings" /> <!-- heading TO DO -->

                         <ol id="to-do-list">

                                 <li>check the address for typing errors</li>
                                 <li>see the navigation below</li>
                                 <li>search our page</li>

                         </ol> <!-- end to-do-list -->

                         <img src="{{ STATIC_URL }}images/navigation.gif" alt="NAVIGATION" class="headings" /> <!-- heading NAVIGATION -->

                         <ul id="links">

                                 <li><a href="#" title="Jump to our front page!">Home</a></li>
                                 <li><a href="#" title="Get to know us!">About Us</a></li>
                                 <li><a href="#" title="Read our newest articles!">Blog</a></li>
                                 <li><a href="#" title="Check out our products!">Products</a></li>
                                 <li><a href="#" title="Check the sitemap for the full picture!">Sitemap</a></li>
                                 <li><a href="#" title="Feel free to contact us!">Contact</a></li>

                         </ul> <!-- end links -->

                  </div> <!-- end navigation -->

                  <div id="search">

                      <form action="#" method="get">
                         <input class="search-input" value="Didn't find what you were looking for?" onfocus="this.value = ''" />
                         <input type="submit" class="search-button" name="submit-search" value="" title="search our page" />
                      </form>

                  </div> <!-- end search -->

         </div> <!-- end box -->

</body>
</html>